<div *ngFor="let content of posts">
    <p>{{content.title}}</p>
    <p>{{content.body}}</p>
    <p>{{content.username}}</p>
    <p>{{content.sentiment_text}}</p>
    <p>{{content.sentiment_value}}</p>
</div>

<button type="button" mat-button (click)="authService.SignOut()">Logout</button>

<mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput #title>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput #text></textarea>
</mat-form-field>

<button type="button" mat-button (click)="formText(text.value,title.value)">submit</button>

<p>{{sentimentText}}</p>
<p>{{sentimentScore}}</p>