<div class="mainContent  ">
    <div class=" login">
        <div class="actions" mat-dialog-action [align]="'center'">
            <h2 class="active"> Sign Up </h2>
            <form class="inputs">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Email" formControlName="email" #userEmail>
                    <mat-icon matSuffix>perm_identity</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input type="text" matInput placeholder="Username" formControlName="username" #userName>
                    <mat-icon matSuffix>store</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="Password" formControlName="password" #userPassword>
                    <mat-icon matSuffix>class</mat-icon>
                </mat-form-field>
            </form>
        </div>
        <div class="actions" mat-dialog-action [align]="'center'">
            <button mat-raised-button color="warn" (click)="authService.SignUp(userName.value,userEmail.value , userPassword.value)">Sign
                Up</button>

            <button mat-raised-button color="warn" (click)="nav('login')">BACK TO LOGIN</button>
            <!-- <a [routerLink]="['../login']">Go to Register</a> -->
        </div>
    </div>
</div>