<div class="login">
    <h2 class="active">Sign In </h2>

    <div class="fform">=
        <form class="inputs">
            <input type="text" class="text" name="ID" formControlName="id" #userName>
            <span>Email</span>

            <br>
            <br>

            <input type="password" class="text" name="PASSWORD" formControlName="password" #userPassword>>
            <span>Password</span>
            <br>
        </form>

        <button (click)="authService.SignIn(userName.value, userPassword.value)" class="signin">
            Sign In
        </button>
        <hr>
        <a [routerLink]="['../register']">Go to Register</a>
    </div>

</div>